var gulp = require('gulp');
require('./gulp/bootstrap.js');

gulp.task('default',function() {
   gulp.start(['watch']);
});
gulp.task('build',['clean'],function(){
    gulp.start(['images','inject']);
});
